body {
  font-family: "Ubuntu", sans-serif;
  background: url(../img/header/background.png) no-repeat center center fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 19px;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.header__title {
  margin-left: 79px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  transition: 0.12s;
}

.header__title:hover {
  color: #01813f;
  opacity: 0.7;
}

.header__right {
  display: flex;
  align-items: center;
  margin-right: 79px;
}

.header__list {
  display: flex;
}
path {
  transition: 0.12s;
}
.header__link:hover path {
  color: #01813f;
  fill: #01813f;
  opacity: 0.7;
}
.header__list::after {
  content: "";
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  align-self: center;
  margin-right: 27px;
}

.header__item {
  margin-right: 24px;
}

.log-in {
  margin-right: 4px;
  transition: 0.12s;
}

.sign-up {
  margin-left: 4px;
  transition: 0.12s;
}

.log-in:hover {
  color: #01813f;
  opacity: 0.7;
}
.sign-up:hover {
  color: #01813f;
  opacity: 0.7;
}

.form {
  max-width: 444px;
  margin: 0 auto;
  margin-top: 54px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.form__body {
  padding: 31px 60px 38px 60px;
  position: relative;
}

.log__link {
  color: #3cb878;
}

.log__link:hover {
  color: #01813f;
  text-decoration: underline;
}

.form__item {
  display: flex;
  justify-content: space-between;
}
.form__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.form__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  top: 32px;
  left: 0;
}

.social {
  display: flex;
  margin-top: 16px;
}
.btn__facebook {
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: #305db8;
  color: #ffffff;
  margin-right: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Ubuntu";
  transition: 0.14s;
}

.btn__facebook:hover {
  background-color: #022263;
}

.btn__google {
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: #df4a32;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Ubuntu";
  transition: 0.14s;
}
.btn__google:hover {
  background-color: #ab1f09;
}
.link-icon::after {
  content: "";
  background: #0a162f;
  display: block;
  height: 28px;
  margin-right: 18px;
  width: 1px;
  opacity: 0.1;
}
.social__img {
  margin-left: 8px;
  margin-right: 19px;
}
.google {
  margin-right: 7px;
}
.span-or {
  margin-top: 31px;
  margin-bottom: 12px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  display: flex;
  justify-content: space-around;
}

.span-or::after {
  content: "";
  display: block;
  width: 152px;
  height: 1px;
  background: #f2f2f2;
  position: relative;
  top: 8px;
}
.span-or::before {
  content: "";
  display: flex;
  width: 152px;
  height: 1px;
  background: #f2f2f2;
  position: relative;
  top: 8px;
}

.form__item--input {
  margin-bottom: 15px;
}

.form__input {
  padding: 15px 19px;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  width: 286px;
  transition: 0.15s;
}

.form__input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox {
  position: relative;
}

.checkbox__input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__label {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  padding-left: 28px;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  position: absolute;
  left: 0;
  top: -2px;
  z-index: 1;
}

.checkbox__label::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/form/checked.svg) no-repeat;
  background-size: 20px 20px;
  opacity: 0;
  position: absolute;
  left: 1px;
  top: -1px;
  z-index: 2;
  transition: 0.15s;
}
.checkbox__label::after:hover path {
  fill: #01813f;
}
.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}

.form__button {
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  width: 100%;
  height: 46px;
  border: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-top: 20px;
  transition: 0.14s;
}

.form__button:hover {
  background: #01813f;
}

.form__span {
  color: #3cb878;
}
.form__span:hover {
  color: #01813f;
  text-decoration: underline;
}
